[submodule ".slidesData/themes/reveal-hugo"]
	path = .slidesData/themes/reveal-hugo
	url = https://github.com/dzello/reveal-hugo.git
[submodule "xss_demo"]
	path = xss_demo
	url = https://github.com/featherbear/demo-xss
[submodule "webcms4"]
	path = webcms4
	url = https://github.com/featherbear/cs6443-webcms4-demo
[submodule "sqli_demo"]
	path = sqli_demo
	url = https://github.com/featherbear/demo-sqli
